@mixin visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.popupContent {
    position: absolute;
    z-index: 9999;
    min-width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 8px;
    transform: translate(-50%, -100%);

    &::after {
        content: '';
        display: block;
        // position: relative;
        width: 0;
        height: 0;
        z-index: 9999;
        // 2 * <after-border> + <padding-bottom> - <popup-border>
        margin-bottom: calc(-2 * 12px - 5px + 1px);
        margin-left: auto;
        margin-right: auto;;
        border: 12px solid transparent;
        border-top-color: white;
    }
}

.map {
    width: 100%;
    figcaption {
        @include visuallyHidden;
    }
}